@import "../../styles/main";

.header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $elements;

  @include on-tablet {
    height: 48px;
  }

  .logo {
    display: flex;
    margin-left: 24px;
    transition-duration: $transition-duration;
    color: $black;


    &:hover {
      transform: scale(1.2);
    }

    .logoImage {
      height: 28px;
      width: 80px;
      background-image: url(../../assets/main-logo.svg);
      background-size: cover;
    }

    @include on-mobile {
      display: none;
    }
  }

  .containerLeft {
    display: flex;
    align-items: center;
    gap: 64px;
    height: 100%;
  }

  .containerRight {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .burger {
    display: none;
    margin-left: 24px;
    width: 32px;
    height: 32px;
    gap: 5px;
    justify-content: center;
    flex-direction: column;

    @include on-tablet {
      display: flex;
    }

    .burgerSpan {
      display: block;
      height: 3px;
      width: 26px;
      background-color: $black;
      border-radius: 5px;
    }

    &:hover .burgerSpanOne {
      animation: change-width 2s ease infinite;
    }

    &:hover .burgerSpanTwo {
      animation: change-width-1 2s ease infinite;
    }

    &:hover .burgerSpanThree {
      animation: change-width-2 2s ease infinite;
    }
  }

  .navigation {
    @include on-tablet {
      display: none;
    }

    .list {
      display: flex;
      gap: 64px;
      justify-content: space-between;
      align-items: center;

      .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        border-bottom: 3px solid transparent;
        transition-duration: $transition-duration;

        @extend %navigation;
      }
    }
  }

  .iconLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 100%;
    border-left: 1px solid $elements;
    border-bottom: 3px solid transparent;
    transition-duration: $transition-duration;
    color: $black;

    @include on-tablet {
      display: none;
    }

    .iconImage {
      position: relative;
    }

    &:hover {
      .iconImage {
        transform: scale(1.2);
      }
    }

    .fav {
      width: 14px;
      height: 14px;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -50%;
      margin-right: -50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $red;
      border-radius: 50%;

      .amount {
        color: $black;
        font-size: 9px;
        font-weight: 600;
      }
    }
  }
}

.navlinkActive {
  border-bottom: 3px solid $black;
  color: $black;
}

@keyframes change-width {
  0% {
    width: 26px;
  }
  25% {
    width: 30px;
  }
  50% {
    width: 15px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 26px;
  }
}

@keyframes change-width-1 {
  0% {
    width: 26px;
  }
  25% {
    width: 14px;
  }
  50% {
    width: 30px;
  }
  75% {
    width: 12px;
  }
  100% {
    width: 26px;
  }
}

@keyframes change-width-2 {
  0% {
    width: 20px;
  }
  25% {
    width: 5px;
  }
  50% {
    width: 30px;
  }
  75% {
    width: 30px;
  }
  100% {
    width: 20px;
  }
}
